<link rel="stylesheet" href="../../css/style.css">

<div class="page">
    <h1>Post {{single_post.id}} by {{owner.name}} - Comments</h1>
    <div class="card post-card">
            <h3>{{single_post.title}}</h3>
            <hr>
            <p>{{single_post.body}}</p>
            <p>By: {{owner.name}}</p>
            <hr>
        {{#each comm}}
            <div class="comments" data-aos="fade-down" data-aos-duration="1000">
                <p><b><i class="fas fa-user"></i> {{this.name}}</b> {{this.email}} </p>
                <p>{{this.body}}</p>
            </div>
         {{/each}}
         <a href="/posts/{{single_post.id}}"><small><i class="fas fa-arrow-left"></i>Back to post &nbsp;</small></a>
    </div>
</div>


    


    
